// Styling for the objective section
#objectif{
    p{
        margin-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}
.icon-objectif{
    display: table-row;
    text-align: center;
}
